<!Doctype html>
<html lang="fa">
    <head>
        <title>پروژه دانشجویی فروشگاه مجازی</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/bootstrap-rtl.min.css">
        <link rel="stylesheet" href="stylesheets/F-css.css" type="text/css"/>
        <link rel="stylesheet" href="stylesheets/notify.css" type="text/css"/>
        <link rel="stylesheet" href="stylesheets/table-style.css" type="text/css"/>
        <link rel="stylesheet" href="stylesheets/toaster.css" type="text/css"/>
        <script src="javascripts/jquery.min.js"></script>
        <script src="javascripts/bootstrap.min.js"></script>

        <link rel="stylesheet" href="ism/css/my-slider.css" />
        <script src="ism/js/ism-2.2.min.js"></script>
    </head>
    <body>
    <div class="container-fluid bg-1">
        <div class="container bg-2">
            <div class="header">
                <div class="search-box text-center">
                    <form class="form-inline" id="search_frm" action="/search" method="post">
                        <fieldset>
                            <button class="btn btn-primary" id="search_btn" type="submit">
                                <a href="">
                                </a>
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                            <div class="form-group">
                                <input class="text-center form-control" id="search_input" name="search_input" type="text" value="<%= data.goods_data.search_input %> " />
                            </div>
                        </fieldset>
                    </form>
                </div>
                <%if(data.sess != 0){%>
                <div dir="rtl">
                    <span> کاربر گرامی : <p style="color: red; display: inline"><%= data.sess.name %></p> خوش آمدید! </span>
                </div>
                <%}%>
                <nav class="navbar navbar-inverse">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="container-fluid collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right" id="home">
                            <li class="active"><a href="/">صفحه اصلی</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" id="product">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">محصولات<span class="caret"></span></a>
                                <ul class="dropdown-menu navbar-inverse">
                                    <li><a class="text-right" href="/apple">اپل</a></li>
                                    <li><a class="text-right" href="/samsung">سامسونگ</a></li>
                                    <li><a class="text-right" href="/lg">الجی</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" id="about">
                            <li><a href="/about">درباره ما</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" id="question">
                            <li><a href="#">سوالات متداول</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" id="contact">
                            <li><a href="#">تماس با ما</a></li>
                        </ul>
                        <%if(data.sess == 0){%>
                        <ul class="nav navbar-nav">
                            <li><a href="#login_pop" data-toggle="modal"><span class="glyphicon glyphicon-user"></span>حساب کاربری</a></li>
                        </ul>
                        <%}%>
                        <%if(data.sess != 0){%>
                        <ul class="nav navbar-nav navbar-right" id="exit">
                            <li><a href="/logout">خروج</a></li>
                        </ul>
                        <%}%>
                        <%if(data.sess.role == 1){%>
                        <ul class="nav navbar-nav pull-left">
                            <li><a href="#shoping_cart_pop" data-toggle="modal" data-dismiss="modal" id="cart-btn"><i class="glyphicon glyphicon-shopping-cart"></i>
                                    سبد خرید
                                    <input class="hidden" id="cart_user_id" value="<%=data.sess._id%>">
                                    <span id="cart_count"><%=data.sess.count%></span>
                                </a>
                            </li>
                        </ul>
                        <%}%>
                    </div>
                </nav>
            </div>
            <!--////////////Modal Segment//////////-->

            <!-- signin Modal -->
            <div class="modal fade" id="login_pop" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header" style="padding:15px 250px;">
                                    <h4 dir="rtl"><span class="glyphicon glyphicon-lock"></span> ورود</h4>
                                </div>
                                <div class="modal-body" style="padding:40px 50px;">
                                    <form action="/login" method="post">
                                        <div dir="rtl" class="form-group">
                                            <label for="usrname"><span class="glyphicon glyphicon-user"></span> نام کاربری </label>
                                            <input type="text" class="form-control" name="username">
                                        </div>
                                        <div dir="rtl" class="form-group">
                                            <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> کلمه عبور </label>
                                            <input type="password" class="form-control" name="password">
                                        </div>
                                        <div dir="rtl">
                                            <input type="checkbox" name="checkboxe" checked><label>مرا به خاطر بسپار</label>
                                        </div>
                                        <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> ورود</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> بستن</button>
                                    <a class="pull-right" data-dismiss="modal" data-toggle="modal" href="#signup_pop"> ثبت نام</a>
                                    <p class="pull-right">  -  بازیابی<a href="#"> پسورد</a> </p>
                                </div>
                            </div>

                        </div>
                    </div>
            </div>

            <!-- signup Modal -->
            <div class="modal fade" id="signup_pop" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header" style="padding:15px 250px;">
                                <h4 dir="rtl"><span class="glyphicon glyphicon-user"></span>ثبت نام</h4>
                            </div>
                            <div class="modal-body" style="padding:10px 50px;">
                                <form action="/enroll" method="post">
                                    <div dir="rtl" class="form-group">
                                        <input type="text"  name="first_name" placeholder="نام">
                                        <input type="text" class="pull-left" name="last_name" placeholder="نام خانوادگی">
                                    </div>
                                    <div dir="rtl" class="form-group">
                                        <input type="text"  name="username" placeholder="نام کاربری">
                                        <input type="password" class="pull-left" name="password" placeholder="کلمه عبور">
                                    </div>
                                    <div dir="rtl" class="form-group">
                                        <input  type="text"  name="number" placeholder="شماره تماس">
                                        <input dir="ltr" type="text" class="pull-left" name="email" placeholder="email">
                                    </div>
                                    <div style="padding: 0px 0px 10px;">
                                        <input dir="rtl" class="form-control" type="text" name="address" placeholder="آدرس">
                                    </div>
                                    <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> ثبت نام</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> بستن</button>
                                <a href="#login_pop" data-dismiss="modal" data-toggle="modal">...ورود به</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- User_ Management Modal-->
            <div class="modal fade" id="user_management_pop" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="padding:15px 230px;">
                            <h4 dir="rtl"><span class="glyphicon glyphicon-user"></span>مدیریت کاربران</h4>
                        </div>
                        <div class="modal-header">
                                <div class="form-group">
                                    <input class="text-center form-control max-width" id="search_user" type="text" placeholder="جستجوی کاربر"/>
                                </div>
                        </div>
                        <div class="modal-body" style="padding:10px 50px;">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="col-sm-3">نام</th>
                                    <th class="col-sm-3">نام خانوادگی</th>
                                    <th>نام کاربری</th>
                                </tr>
                                </thead>
                                <tbody id="users_table">
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button id="user_management_close" type="button" class="btn btn-danger btn-default max-width" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> بستن</button>
                        </div>
                    </div>

                </div>
            </div>
            </div>

            <!-- User_edit Management Modal-->
            <div class="modal fade" id="user_edit_management_pop" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="padding:15px 230px;">
                            <h4 dir="rtl"><span class="glyphicon glyphicon-user"></span>ویرایش کاربر</h4>
                        </div>
                        <div class="modal-body" style="padding:10px 50px;">
                        <form id="change_users_form" method="post">
                        <div dir="rtl" class="form-group">
                        <input id="first_name" class="text-center" type="text"  name="first_name" placeholder="نام">
                        <input id="last_name" class="text-center pull-left" type="text" name="last_name" placeholder="نام خانوادگی">
                        </div>
                        <div dir="rtl" class="form-group">
                        <input id="username" class="text-center" type="text"  name="username" placeholder="نام کاربری">
                        <input id="number" class="text-center pull-left" type="text"  name="number" placeholder="شماره تماس">
                        <!--<input id="" class="text-center pull-left" type="password" class="pull-left" name="password" placeholder="کلمه عبور">-->
                        </div>
                        <div dir="rtl" class="form-group">
                        <!--<input class="text-center" type="text"  name="number" placeholder="شماره تماس">-->
                        <input id="email" class="form-control text-center" type="text" name="email" placeholder="ایمیل">
                        </div>
                        <div style="padding: 0px 0px 10px;">
                        <input id="address" class="form-control text-center" type="text" name="address" placeholder="آدرس">
                        </div>
                        <button id="change_users_save" type="button" class="btn btn-success btn-block" data-dismiss="modal"><span class="glyphicon glyphicon-saved"></span> ذخیره</button>
                        </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-default max-width" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> بستن</button>
                        </div>
                    </div>

                </div>
            </div>
            </div>

            <!-- main-goods-management Modal -->
            <div class="modal fade" id="goods_management_pop" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="padding:15px 240px;">
                            <h4 dir="rtl"><span class="glyphicon glyphicon-eye-open"></span>مدیریت انبار</h4>
                        </div>
                        <div dir="rtl" class="modal-body">
                            <ul>
                            <li><a dir="rtl" data-dismiss="modal" data-toggle="modal" href="#add_goods_pop">اضافه کردن کالا به انبار</a></li>
                            <li><a dir="rtl" data-dismiss="modal" data-toggle="modal" href="#edit_delete_goods_pop">ویرایش و حذف کالا از انبار</a></li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger btn-default max-width" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> بستن</button>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Add goods Modal -->
        <div class="modal fade" id="add_goods_pop" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:0px 230px;">
                        <h4 dir="rtl"><span class="glyphicon glyphicon-user"></span>مشخصات کالا</h4>
                    </div>
                    <div class="modal-body" style="padding:10px 50px;">
                        <form id="frm-addgoods" method="post">
                            <div dir="rtl" class="form-group">
                                <select style="width: 240px;height: 27px;" name="brand">
                                    <option style="display:none">انتخاب برند ...</option>
                                    <option dir="ltr">apple</option>
                                    <option dir="ltr">samsung</option>
                                    <option dir="ltr">lg</option>
                                </select>
                                <select class="pull-left" style="width: 240px;height: 27px;" name="category">
                                    <option style="display:none">انتخاب نوع ...</option>
                                    <option>لپ تاپ</option>
                                    <option>تبلت</option>
                                </select>
                            </div>
                            <div dir="rtl" class="form-group">
                                <input class="text-center inp-width" type="text"  name="code" placeholder="کد کالا">
                                <input class="text-center pull-left inp-width" type="text" name="cpu" placeholder="پردازنده">
                            </div>
                            <div class="form-group">
                                <select style="width: 240px;height: 27px;" name="ram">
                                    <option style="display:none">انتخاب Ram ...</option>
                                    <option dir="ltr">512 MB</option>
                                    <option dir="ltr">1 GB</option>
                                    <option dir="ltr">2 GB</option>
                                    <option dir="ltr">4 GB</option>
                                    <option dir="ltr">6 GB</option>
                                    <option dir="ltr">8 GB</option>
                                    <option dir="ltr">16 GB</option>
                                </select>
                                <select class="pull-left" style="width: 240px;height: 27px;" name="hdd">
                                    <option>هارد دیسک ندارد</option>
                                    <option dir="ltr">128 GB</option>
                                    <option dir="ltr">256 GB</option>
                                    <option dir="ltr">512 GB</option>
                                    <option dir="ltr">1 TB</option>
                                </select>
                            </div>
                            <div dir="rtl" class="form-group">
                                <select style="width: 240px;height: 27px;" name="graphic">
                                    <option style="display:none">گرافیک ندارد</option>
                                    <option dir="ltr">intel HD 3000</option>
                                    <option dir="ltr">intel HD 4000</option>
                                    <option dir="ltr">nvidia gforce 680 1GB</option>
                                    <option dir="ltr">nvidia gforce 960 2GB</option>
                                    <option dir="ltr">nvidia gforce 1080 4GB</option>
                                    <option dir="ltr">AMD 2GB</option>
                                    <option dir="ltr">AMD 4GB</option>
                                </select>
                                <select dir="ltr" class="pull-left" style="width: 240px;height: 27px;" name="display">
                                    <option>7 inch</option>
                                    <option>10 inch</option>
                                    <option>12 inch</option>
                                    <option>14.1 inch</option>
                                    <option>15.6 inch</option>
                                </select>
                            </div>
                            <div dir="rtl" class="form-group">
                                <select style="width: 240px;height: 27px;" name="os">
                                    <option>سیستم عامل ندارد</option>
                                    <option dir="ltr">windows 7</option>
                                    <option dir="ltr">windows 8</option>
                                    <option dir="ltr">windows 8.1</option>
                                    <option dir="ltr">windows 10</option>
                                    <option dir="ltr">linux</option>
                                    <option dir="ltr">MAC OS</option>
                                </select>
                                <input class="text-center pull-left inp-width" type="text"  name="weight" placeholder="وزن کالا">
                            </div>
                            <div dir="rtl" class="form-group">
                                <input class="text-center inp-width" type="text"  name="count" placeholder="تعداد کالا">
                                <input class="text-center pull-left inp-width" dir="ltr" type="text" name="price" placeholder="قیمت">
                            </div>
                            <div class="form-group">
                                <input class="max-width text-center" type="text"  name="model" placeholder="مدل">
                            </div>
                            <div class="form-group">
                                <input class="max-width text-center" type="text"  name="title" placeholder="عنوان">
                            </div>
                            <div class="form-group" dir="ltr">
                                <textarea class="max-width" name="features" placeholder="ports & features..." rows="3"></textarea>
                            </div>
                            <div class="form-group" dir="ltr">
                                <input name="image" type="file" id="myfile">
                            </div>
                            <button id="goods_submit" type="submit" class="btn btn-success btn-block max-width"><span class="glyphicon glyphicon-saved"></span> ثبت کالا</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-default max-width" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> بستن</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit & Delete goods Modal -->
        <div class="modal fade" id="edit_delete_goods_pop" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:15px 230px;">
                        <h4 dir="rtl"><span class="glyphicon glyphicon-user"></span>مشخصات کالا</h4>
                    </div>
                    <div class="modal-header">
                        <form class="">
                            <div class="form-group">
                                <input id="search_goods" class="text-center form-control max-width" type="text" placeholder="جستجوی محصول"/>
                            </div>
                        </form>
                    </div>
                    <div class="modal-body" style="padding:10px 50px;">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="col-sm-3">مدل محصول</th>
                                <th class="col-sm-3">دسته بندی</th>
                                <th>کد</th>
                            </tr>
                            </thead>
                            <tbody id="goods_table">
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button id="close_goods" type="button" class="btn btn-danger btn-default max-width" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> بستن</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit goods Modal -->
        <div class="modal fade" id="edit_goods_pop" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:15px 230px;">
                        <h4 dir="rtl"><span class="glyphicon glyphicon-user"></span>مشخصات کالا</h4>
                    </div>
                    <div class="modal-body" style="padding:10px 50px;">
                        <form id="change_goods_form" action="" method="post">
                            <div dir="rtl" class="form-group">
                                <input id="brand" class="text-center inp-width" type="text"  name="brand" placeholder="برند">
                                <input id="category" class="text-center pull-left inp-width" type="text" name="category" placeholder="تبلت - لپ تاپ">
                            </div>
                            <div class="form-group">
                                <input id="model" class="text-center inp-width" type="text"  name="model" placeholder="مدل">
                                <input id="cpu" class="text-center pull-left inp-width" type="text" name="cpu" placeholder="پردازنده">
                            </div>
                            <div class="form-group">
                                <input id="ram" class="text-center inp-width" type="text"  name="ram" placeholder="رم">
                                <input id="hdd" class="text-center pull-left inp-width" type="text" name="hdd" placeholder="هارد">
                            </div>
                            <div dir="rtl" class="form-group">
                                <input id="graphic" class="text-center inp-width" type="text"  name="graphic" placeholder="گرافیک">
                                <input id="display" class="text-center pull-left inp-width" type="text" name="display" placeholder="سایز صفحه">
                            </div>
                            <div dir="rtl" class="form-group">
                                <input id="os" class="text-center inp-width" type="text"  name="os" placeholder="سیستم عامل">
                                <input id="weight" class="text-center pull-left inp-width" type="text" name="weight" placeholder="وزن">
                            </div>
                            <div dir="rtl" class="form-group">
                                <input id="count" class="text-center inp-width" type="text" name="count" placeholder="تعداد کالا">
                                <input id="price" class="text-center pull-left inp-width" dir="ltr" type="text" name="price" placeholder="قیمت">
                            </div>
                            <div class="form-group">
                                <input id="title" class="max-width text-center" type="text"  name="title" placeholder="عنوان">
                            </div>
                            <div class="form-group" dir="ltr">
                                <textarea id="features" class="max-width" name="features" placeholder="ports & features..." rows="3"></textarea>
                            </div>
                            <!--<div class="form-group" dir="ltr">-->
                                <!--<input name="image" type="file" id="myfile">-->
                            <!--</div>-->
                            <button id="change_goods_save" type="button" class="btn btn-success btn-block max-width"><span class="glyphicon glyphicon-saved"></span>ذخیره</button>
                            </form>
                    </div>
                    <div class="modal-footer">
                        <button id="" type="button" class="btn btn-danger btn-default max-width" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> بستن</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- main report Modal -->
        <div class="modal fade" id="report_management_pop" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:15px 240px;">
                        <h4><span class="glyphicon glyphicon-eye-open"></span>گزارشات</h4>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li><a data-dismiss="modal" data-toggle="modal" href="#instock_report_pop">گزارش موجودی انبار</a></li>
                            <li><a data-dismiss="modal" data-toggle="modal" href="#">گزارش فروش</a></li>
                            <li><a data-dismiss="modal" data-toggle="modal" href="#">گزارش سوابق خرید</a></li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger btn-default max-width" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> بستن</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- in stock report -->
        <div class="modal fade" id="instock_report_pop" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:15px 230px;">
                        <h4 dir="rtl"><span class="glyphicon glyphicon-user"></span>موجودی انبار</h4>
                    </div>
                    <div class="modal-body" style="padding:10px 50px;">
                        <div dir="rtl" class="form-group">
                            <label>تعداد برندهای موجود:</label>
                            <span id="spn-brand">50</span>
                            <label>تعداد کد کالاهای موجود:</label>
                            <span id="spn-code">150</span>
                        </div>
                        <div dir="rtl" class="form-group">
                            <label>تعداد کل کالاهای موجود:</label>
                            <span id="spn-brand">50</span>
                            <label>ارزش  کالاهای موجود:</label>
                            <span id="spn-code">150</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-default max-width" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> بستن</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- shoping-cart Modal-->
        <div class="modal fade" id="shoping_cart_pop" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:15px 230px;">
                        <h4 dir="rtl"><span class="glyphicon glyphicon-shopping-cart"></span>سبد خرید</h4>
                    </div>
                    <div class="modal-body" style="padding:10px 50px;">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="col-sm-1">محصول</th>
                                <th class="col-sm-1">قیمت</th>
                                <th class="col-sm-2">تعداد</th>
                            </tr>
                            </thead>
                            <tbody id="cart_table">
                            </tbody>
                        </table>
                        <div style="background-color: lightcoral;margin-bottom: 5px;">
                            <span>قیمت کل:</span>
                            <span id="totalcost_spn" class="pull-left"></span>
                        </div>
                        <button class="btn btn-primary" id="payment_btn" data-dismiss="modal" style="margin: 0px 190px;padding: 5px 40px 5px 40px;">پرداخت</button>
                    </div>
                    <div class="modal-footer">
                        <button id="" type="button" class="btn btn-danger btn-default max-width" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> بستن</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Show goods detail -->
        <div class="modal fade" id="show_goods_pop" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding:15px 230px;">
                        <h4 class="text-center" id="good_detail_header"><span class=""></span></h4>
                    </div>
                    <div class="modal-body" id="goods_detail_modal_body" style="padding:10px 50px;">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary glyphicon glyphicon-shopping-cart basket max-width" data-dismiss="modal" id="btn-basket" value="">اضافه کردن به</button>
                        <!--<button type="button" class="btn btn-danger btn-default max-width" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> بستن</button>-->
                    </div>
                </div>
            </div>
        </div>


        <!--////////////////////////////////////////-->
        <div class="main container bg-2" style="height: 550px;">
            <table class="table">
                <thead>
                <tr>
                    <%if(data.goods_data.length != 0){%>
                        <th> نتایج جستجو: <strong style="color: red"> (<%= data.goods_data.length %>)   مورد یافت شد! </strong></th>
                    <%}else{%>
                        <th> نتایج جستجو: <strong style="color: red"><%= data.goods_data.search_input %> (موردی یافت نشد!)</strong></th>
                    <%}%>
                </tr>
                </thead>
                <tbody id="search_result_table_body" style="height: 500px;">
                <input class="hidden" id="inp_user_id" value="<%= data.sess._id %>"/>
                    <%for(var index=0 ; index < data.goods_data.length ; index++){%>
                        <tr>
                            <td>
                                <pre><img><a class="goods-detail" href="#show_goods_pop" data-toggle="modal" value="<%=data.goods_data[index]._id%>"><%= data.goods_data[index].category %>  <%= data.goods_data[index].brand %>  <%= data.goods_data[index].model %>  <%= data.goods_data[index].cpu %>  <%= data.goods_data[index].ram %> ram</a></pre>
                            </td>
                        </tr>
                    <%}%>
                </tbody>
            </table>
        </div>

        <div style="background-color: #141414">
            <div class="wrapper">
                <div class="section group  text-right">
                    <div class="col_1_of_4 span_1_of_4">
                        <h4>اطلاعات</h4>
                        <ul>
                            <li><a href="/about">درباره ما</a></li>
                            <!--<li><a href="#"><span>جستجو</span></a></li>-->
                            <li><a href="#"><span>تماس با ما</span></a></li>
                        </ul>
                    </div>
                    <div class="col_1_of_4 span_1_of_4">
                        <h4>چرا خرید از ما</h4>
                        <ul>
                            <!--<li><a href="">درباره ما</a></li>-->
                            <li><a href="#">سیاست حفظ حریم خصوصی</a></li>
                            <li><a href=""><span>نقشه سایت</span></a></li>
                        </ul>
                    </div>
                    <div class="col_1_of_4 span_1_of_4">
                        <h4>حساب من</h4>
                        <ul>
                            <li><a href="">ورود به حساب کاربری</a></li>
                            <li><a href="">مشاهده سبد خرید</a></li>
                        </ul>
                    </div>
                    <div class="col_1_of_4 span_1_of_4">
                        <h4>تماس با ما</h4>
                        <ul>
                            <li><span>0915-8020410</span></li>
                            <li><span id="sp-email">esi.hadizadeh@outlook.com</span></li>
                        </ul>
                        <div class="social-icons">
                            <h4>دنبال کنید ما را در</h4>
                            <ul>
                                <li class="facebook"><a href="#" target="_blank"> </a></li>
                                <li class="twitter"><a href="#" target="_blank"> </a></li>
                                <li class="googleplus"><a href="#" target="_blank"> </a></li>
                                <li class="contact"><a href="#" target="_blank"> </a></li>
                                <div class="clear"></div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="copy_left">
                    <p>Java Script پروژه دانشجویی فروشگاه مجازی با زبان</p>
                </div>
            </div>
        </div>
        <script src="javascripts/toastr.min.js"></script>
        <script src="javascripts/ajax.js"></script>

    </body>
</html>
